{% extends "base.html" %} {% block title %} Wellbeing | Calorie Calculator {%
endblock title %} {% block content %}

<!-- Form -->
<div class="container">
  <div
    class="jumbotron container form-design"
    style="height: 100%; margin-bottom: 30px"
  >
    <h3 style="font-weight: 700">Calorie Calculator</h3>
    <p class="text-muted" style="font-weight: bolder">
      Give any common food (i.e Apple, Soup, Burger, Pizza, Ice Cream, Vegies,
      Fruits ),gives the calories on that disease, if multiple edibles gives the
      sum of the calories in the edibles and substracts them from your daily
      calorie required and gives whether do you need more calories or its enough
      for today!
    </p>
    <br />

    <form method="POST">
      <div class="row">
        <div class="col-auto">
          <label for="edible" class="col-form-label"
            >What stuff did you eat:</label
          >
        </div>
        <div class="col-3">
          <input
            type="edible"
            id="edible"
            name="edible"
            class="form-control"
            required
            placeholder="For multiple edibles seperate by a comma (,)"
            width="100%"
          />
        </div>

        <div class="col-auto">
          <input
            type="number"
            name="calories"
            id="calories"
            placeholder="Expected K Cals / Day"
            class="form-control"
            value="1500"
            required
          />
        </div>

        <div class="col-auto">
          <input type="submit" value="Get Calories" class="btn btn-success" />
        </div>
      </div>
    </form>

    <!-- LOGIC TO DISPLAY RESULTS -->
    {% if results %}
    <br />
    <hr style="height: 3.5px" />
    <br />

    <div>
      {% if results|length == 1 %}

      <!-- Food info -->
      <h3>
        For the food,
        <span style="font-weight: bolder">
          {{ results[0]['name'].capitalize() }}
        </span>
      </h3>

      <ul>
        <li>Serving: {{ results[0]['serving'] }}</li>
        <li>Calories: {{ results[0]['cals'] }}</li>
      </ul>

      <!-- Calorie tracker -->
      <h5>
        <small class="text-muted" style="font-weight: bolder">
          Calories totaled up: {{ results[0]['cals'] }}
        </small>

        <br />

        <small class="text-muted" style="font-weight: bolder">
          {% if expected_cals-results[0]['cals_raw'] > 0 %}
          <span>
            Calories left: {{ expected_cals-results[0]['cals_raw'] }} cal
          </span>
          {% else %}
          <span>
            You have exceded your calorie limit by {{
            (expected_cals-results[0]['cals_raw'])|abs }}
          </span>
          {% endif %}
        </small>
      </h5>

      {% else %}

      <!-- If multiple results, logic -->
      {% for i in results %}

      <!-- Food infp -->
      <h5>
        <span style="font-weight: bolder">{{ i['name'].capitalize() }}</span>
      </h5>

      <ul>
        <li>Serving: {{ i['serving'] }}</li>
        <li>Calories: {{ i['cals'] }}</li>
      </ul>

      <br />

      {% endfor %}

      <!-- Calorie info -->
      <h5>
        <small class="text-muted" style="font-weight: bolder">
          Calories totaled up: {{ summed_cals }} cal
        </small>

        <br />

        <small class="text-muted" style="font-weight: bolder">
          {% if cals_left > 0 %}
          <span>Calories left: {{ cals_left }} cal</span>
          {% else %}
          <span>You have execed your calorie limit by {{ cals_left|abs }}</span>
          {% endif %}
        </small>
      </h5>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
