{% extends "base.html" %}
{% block title %}
Wellbeing | Credits
{% endblock title %}

{% block content %}

        <div class="container jumbotron credits" style="height: 650px; margin-top: 150px; border-radius: 30px; padding: 50px; border: black 5px dashed; color: white;">
            <h1 style="text-align: center; font-size: 48px;">Credits</h1>

            <br><br>

            <div style="text-align: center;">

                <p>Design - Aryan Mishra, Troy Serapio</p>
                <br>
                <p>Machine Learning - Aryan Mishra, Troy Serapio</p>
                <br>
                <p>Front End - Aryan Mishra, Troy Serapio</p>
                <br>
                <p>Back End - Aryan Mishra</p>
                <br>
                <p>Honourable Mentions - Courtesy of <a href="https://www.cdc.gov/" style="color: white;">CDC</a> for the Data</p>
                <br><br>
                <p>Github: <a href="https://github.com/ahmishra/">Aryan Mishra</a> & <a href="https://github.com/tdserapio">Troy Serapio</a></p>
                <br>
                <p>Thank You :)</p>

            </div>
        </div>

        <br><br>

{% endblock content %}