{% extends "base.html" %}

{% block title %}
Wellbeing - We got you covered
{% endblock title %}


{% block content %}

    
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/illustration_doctors.jpg') }}" class="d-block w-100" style="filter: brightness(25%); height: 100vh; width: 100%;">
                <div class="carousel-caption d-none d-md-block" style="top: 40%;">
                    <h2 style="font-weight: 200; font-size: 38px;" class="brand">Wellbeing</h2>
                    <p style="font-weight: 700; padding-top: 5px; font-size: 32px;">
                        We've got you covered
                    </p>
                    <p style="font-weight: 600;" class="text-muted">Your personal, trainee, coach and doctor</p>
                    <button type="button" class="btn btn-lg" style="background-color: #11772D; border-radius: 50px; color: white; padding: 12px; box-shadow: 0px ;">Sign Me Up!</button>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}