{% extends "base.html" %}

{% block title %}
Wellbeing | We got you covered
{% endblock title %}


{% block content %}

    
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='images/nature.jpg') }}" class="d-block w-100" style="filter: brightness(25%); height: 100vh; width: 100%;">
                <div class="carousel-caption d-none d-md-block" style="top: 35%;">
                    <h2 style="font-weight: 200; font-size: 38px;" class="brand">Wellbeing</h2>
                    <p style="font-weight: 700; padding-top: 5px; font-size: 32px;">
                        We've got you covered
                    </p>
                    <p style="font-weight: 600;" class="text-muted">Your personal, trainee, coach and doctor</p>
                    <a type="button" href="#about-us" class="btn btn-lg" style="background-color: #11772D; border-radius: 50px; color: white; padding: 12px; box-shadow: 0px 0px 100px #212121; margin-top: 12px;">
                        Sign Me Up!
                    </a>
                </div>
            </div>
        </div>  
    </div>

    <br><br><br><br>

    <div>
        <div id="about-us" class="container">
            <div style="width: 70%; display: inline-block;">
                <h2 style="font-weight: 200; font-size: 38px;" class="brand">Wellbeing</h2>
                <h1 style="font-weight: bolder; margin-top: 15px;">About Us</h1>
                <div class="text">
                    <p>
                        Over at, Wellbeing, we insure that you get out of the box user experience, with an easy-to-use, simple, yet
                        modern design, using state of the art frameworks for our frontend like AJAX, Jquery, CSS5, Flask and for our backend we use Scikit-Learn, Tensorflow and Pandas
                        to get near perfect predictions / estimations, for you!
                        <br><br>
                        <span style="font-weight: bold;">What we provide?</span>
                        <br>
                        We provid prediction models like, health insurance cost predicter, Diabetes predicter, symptom's describer, symptom's curer, and the basic
                        stuff like BMI and calori calculator. <a href="#features">Show me where!</a>
                        <br>
                        <small class="text-muted" style="font-weight: bolder;">Like us? Consider leaving a 5 star rating!</small>
                    </p>
                </div>
            </div>
            <img style="float: right; border-radius: 10%;" height="320px" width="320px"
                src="{{ url_for('static', filename='images/320x_image_1.jpg') }}">
        </div>

        <br><br><br><br><br><br><br><br><br>

        <div id="features">
            <h3 class="brand" style="text-align: center;">Wellbeing</h3>
            <h1 style="font-weight: bolder; margin-top: 15px; text-align: center;">Features</h1>
            
            <div class="container">

                <!-- ROW 1 -->
                <div class="row container">
                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">Diabetes Predicter</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Simply input Yes or No on given questions and get an prediction on whether are you diabetic or not!</p>
                            <a href="{{ url_for('home') }}" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>
                    
                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">Health Insurance Cost Predicter</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Ever thought that health insurance is way-way too expensive? Dont worry, we got you! give simple information like yes and no and your age and magically get the TRUE health insurance cost for you, keep in mind machines do not lie!
                            </p>
                            <a href="{{ url_for('health_insurance_predicter') }}" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>

                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">Symptom Describer</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Give any common symptoms, like, allergy, malaria, diabetes and get a description on that symptom
                            </p>
                            <a href="{{ url_for('symptom_describer') }}" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>

                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">Symptom Curer</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Give any common symptoms, like, allergy, malaria, diabetes and get a description on that symptom, and a list of possible ways to cure that symptom
                            </p>
                            <a href="{{ url_for('symptom_curer') }}" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>

                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">BMI Calculator</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>

                    <div class="card style-card" data-tilt data-tilt-scale="1.1" data-tilt-glare data-tilt-max-glare="0.8">
                        <div class="card-body">
                            <h5 class="card-title" style="font-weight: bolder;">Calorie Calculator</h5>
                            <p class="card-text" style="font-weight: lighter;">
                                Some quick example text to build on the card title and make up the bulk of the card's content.
                            </p>
                            <a href="#" class="btn btn-outline-success">Take Me There</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br><br><br>
    <hr style="width: 75%; height: 5px;" class="container">

{% endblock content %}