{% extends "base.html" %}
{% block title %}
Wellbeing | Register
{% endblock title %}

{% block content %}
<div class="container">
    <div class="card" style="margin-top: 150px; padding: 40px; border-radius: 15px; box-shadow: 1px 1px 25px #212121; border: 1px solid gray; width: 25rem; margin: 0 auto; float: none; margin-top: 150px;">
    <h2 style="font-weight: bolder; text-align: center;">Please register</h2>
    <p style="font-weight: bolder; text-align: center;"><small class="text-muted"><img width="16" height="16" src="{{ url_for('static', filename='images/icon.png') }}" alt=""> Wellbeing</small></p>
    <hr class="container">
    <div class="card-body">
        <form method="post">
            {{ form.hidden_tag() }}
            
            <label for="username">Username</label>
            {{ form.username(label="username", class="form-control") }}
            <br>

            <label for="email">Email</label>
            {{ form.email(label="email", class="form-control") }}
            <br>

            <label for="password">Password</label>
            {{ form.password(label="password", class="form-control") }}
            <br>
            <br>
            <button class="btn btn-lg btn-outline-success btn-block" type="submit" style="float: left;">Register</button>
            <a href="{{ url_for('login') }}" style="float: right; margin-top: 5px;" class="btn btn-sm btn-outline-primary">Login?</a>
          </form>
    </div>
</div>
</div>
{% endblock content %}
